<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Homepage</h1>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae molestiae eos autem voluptas! Facilis, consequatur doloremque, veniam tempora cumque obcaecati, laborum excepturi quo commodi harum corrupti fugit magni voluptate reiciendis.</div>
</body>
</html>